<section class="tasks-list row" *ngIf="tasks.length > 0">
  <div class="tasks-list--task card col-12 col-sm-6 col-lg-4" *ngFor="let task of tasks">

    <div class="card-header">{{task.title}}</div>

    <div class="card-body">
      <p class="card-text">{{task.description}}</p>

      <div class="tasks-list--task--buttons">
        <a class="btn btn-outline-primary">Edit</a>
        <a class="btn btn-outline-primary">Share</a>
        <a (click)="onDelete(task)" class="btn btn-outline-primary">Delete</a>
      </div>
    </div>

  </div>
</section>

<h4 class="empty-list" *ngIf="tasks.length < 1">No tasks added yet</h4>
