<section class="auth row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Authorization</h3>
      </div>
      <div class="card-body">
        <form #loginData="ngForm" class="form">
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              name="email"
              email
              [(ngModel)]="user.email"
              class="form-control rounded-0"
              placeholder="example@mail.com"
              minlength="6"
              required
            >
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              class="form-control rounded-0"
              placeholder="Password"
              minlength="6"
              required
            >
          </div>
          <button
            [disabled]="!loginData.valid"
            type="button"
            (click)="loginUser()"
            class="btn btn-outline-success float-left"
          >
            Login
          </button>
          <button
            [disabled]="!loginData.valid"
            type="button"
            class="btn btn-outline-info float-right"
            data-toggle="modal"
            data-target="#modalName"
          >
            Register</button>
        </form>

        <!-- Modal confirm password and enter name -->
        <div class="modal fade" id="modalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form  #registerData="ngForm"  class="modal-body">
                <div class="form-group">
                  <label>Enter a name</label>
                  <input
                    type="text"
                    name="name"
                    ngModel
                    class="form-control rounded-0"
                    placeholder="Name"
                    minlength="3"
                    required
                  >
                </div>

                <div class="form-group">
                  <label>Confirm password</label>
                  <input
                    type="password"
                    name="password"
                    ngModel
                    class="form-control rounded-0"
                    placeholder="Password"
                    minlength="6"
                    required
                  >
                </div>

              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                <button
                  [disabled]="!registerData.valid"
                  type="button"
                  (click)="registerUser(registerData)"
                  class="btn btn-outline-success float-right"
                  data-dismiss="modal"
                >Join</button>
              </div>
            </div>
          </div>
        </div>

        <div id="snackbar">Error</div>

      </div>
    </div>
  </div>
</section>
