<section class="login">
  <h3 class="login--title">{{newUser ? 'Registration' : 'Log in'}}</h3>

  <input type="email" class="form-control login--fields" placeholder="E-mail">
  <small class="form-text text-muted">Incorrect e-mail</small>

  <input *ngIf="newUser" type="password" class="form-control login--fields" placeholder="Password">
  <small class="form-text text-muted">Incorrect password</small>

  <input type="password" class="form-control login--fields" placeholder="Password">
  <small class="form-text text-muted">Incorrect password</small>


  <button type="button" class="btn btn-outline-primary login--confirm">Sign In</button>
</section>
