<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/tasks">Tasks Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="authService.loggedIn()"
    class="collapse navbar-collapse"
    id="navbar"
  >
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/tasks">Tasks</a>
      <a class="nav-item nav-link" routerLink="/create-task">New Task</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link"
         (click)="authService.logoutUser()"
      >Logout</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
