<!--<ul class="nav nav-pills">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" routerLink="/">Home</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" routerLink="/login">Sign In</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" routerLink="/task-actions">Tasks actions</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" routerLink="/share">Share</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" routerLink="/tasks-list">Tasks list</a>-->
<!--  </li>-->
<!--</ul>-->

<section>
  <app-task></app-task>
  <app-tasks-list></app-tasks-list>
</section>

<br><br><br>

<!--<router-outlet></router-outlet>-->
