<section class="task-actions">
  <form (submit)="onConfirm(taskForm)" #taskForm="ngForm" class="task-actions--form">

    <h4>Create task</h4>

    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Title at least 6 characters"
      ngModel
      required
      minlength="6"
      #title="ngModel"
    >

    <textarea
      name="description"
      class="form-control"
      placeholder="Description at least 6 characters"
      rows="3"
      ngModel
      required
      minlength="6"
      #description="ngModel"
    ></textarea>

    <button
      [disabled]="!title.valid || !description.valid"
      type="onConfirm"
      class="btn btn-outline-primary login--confirm"
    >Confirm</button>

  </form>

  <div id="snackbar">Error</div>

</section>
